<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%= form_with url: search_items_path, method: :get, class: 'search-form', local: true do |form| %>
      <%= form.text_field :keyword, class: "input-box", placeholder: "キーワードから探す" %>
      <label class="search-button">
        <%= form.submit "検索", class: "search-icon" %>
      </label>
    <% end %>
  </div>

  <h1>
    商品検索
  </h1>
  <%= search_form_for @p, url: items_tsearch_path do |f| %>
    <%= f.label :name_eq, 'カテゴリー' %>
    <%= f.collection_select :category_id_eq, @item_category, :id, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.label :name_eq, '商品状態' %>
    <%= f.collection_select :status_id_eq, @item_status, :id, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.label :price, '価格：' %>
    <%= f.radio_button :price_lteq, '' %>
    指定なし
    <%= f.radio_button :price_lteq, '1000' %>
    1000円以下
    <%= f.radio_button :price_lteq, '5000' %>
    5000円以下
    <%= f.radio_button :price_lteq, '10000' %>
    10000円以下
    <br>
    <%= f.submit '検索' %>
  <% end %>

  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
          <li><%= link_to current_user.nickname, edit_user_path(current_user.id), class: "user-nickname" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
              <%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post%>
              <%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post%>
      <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
    <% end %>  
    </ul>
  </div>
</header>